{% extends 'base.html' %}

{% block head %}
{% endblock head %}

{% block body %}
<p></p>
<form method="POST">
{% for id,name in btns.items() %}
<br/>
<label class="switch">
    <input type="checkbox" id="{{ id }}" class="btn">
    <div class="slider round">
        <span class="on">{{ name }} ON</span>
        <span class="off">{{ name }} OFF</span>
    </div>
</label>
{% endfor %}
<script type="text/javascript">
    $(document).ready(function(){
        $(".btn").click(function(){
            if(this.checked){
                $.post( "/checked/",{id:this.id},function(data){
                    $("p").text(data);
                });
            }else{
                $.post( "/unchecked/",{id:this.id},function(data){
                    $("p").text(data);
                });
            }
        });
    });
</script>
{% endblock body %}